html
	height 100%
	
html, body
	width 100%
	height 100%

body, input, button, textarea
	font-family: $f-base;
	font-size: $f-size;
	color: $c-text;
	line-height: $f-line;

img {
	max-width: 100%;
	vertical-align: top;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

ul {
	list-style: none;
}

