/*!Search form*/


/*!Modal_form___________________________________________________*/



.modal_form
  display none
  
  .form_title
    font 30px $f-header
    margin 20px 
    color $c-hover
    
  input[type="submit"]
    padding  1em 2.5em
    
.form_note
  font-size 12px
  margin 10px 0 20px
     
.modal_form_wrap
  cf()
  background-color #fff
  padding 20px

  
.fancybox-close-wrap
  position absolute
  width 100%
  height 30px
  top -30px
  left 0
  background-color #000  
  
.captcha
  clear both
  width 100%
  cf()
  .captcha_input
    width 220px
    float left

    
.captcha_wrap
  width 120px
  float left
  margin-right 40px
  img
    display block
    margin-bottom 10px

.modal_info
  width 340px
  padding 30px 30px 15px
  
  p
    font-size 12px 

.form_title_small
  font-size 18px
  color $c-text-d
  margin-bottom 20px
  
.close_modal
  width 100px
  

/*Page form*/
.get_price_form
  margin-bottom 60px
  width 330px
  .captcha_input
    width 170px
  
  


