/*Sprite ___________________________________*/
.s_soc {
    background-image: url('../img/social.png');
    background-repeat: no-repeat;
    display inline-block
    vertical-align middle
}


$inst {
    width: 42px;
    height: 42px;
    background-position: -10px -10px;
}

$inst_a {
    width: 42px;
    height: 42px;
    background-position: -72px -10px;
}

$s_fb 
    width: 11px;
    height: 21px;
    background-position: -134px -10px;

$s_fb_a 
    width: 11px;
    height: 21px;
    background-position: -165px -10px;


$s_mail {
    width: 21px;
    height: 17px;
    background-position: -134px -51px;
}

$s_mail_a {
    width: 21px;
    height: 17px;
    background-position: -10px -88px;
}

$s_ok {
    width: 13px;
    height: 21px;
    background-position: -51px -88px;
}

$s_ok_a {
    width: 13px;
    height: 21px;
    background-position: -51px -124px;
}

$s_tw {
    width: 22px;
    height: 18px;
    background-position: -84px -88px;
}

$s_tw_a {
    width: 22px;
    height: 18px;
    background-position: -126px -88px;
}

$s_vk {
    width: 15px;
    height: 17px;
    background-position: -10px -126px;
}

$s_vk_a {
    width: 15px;
    height: 17px;
    background-position: -84px -124px;
}

$tw {
    width: 42px;
    height: 42px;
    background-position: -119px -126px;
}

$tw_a {
    width: 42px;
    height: 42px;
    background-position: -196px -10px;
}

$youtube 
    width: 42px;
    height: 42px;
    background-position: -181px -72px;


$youtube_a 
    width: 42px;
    height: 42px;
    background-position: -181px -134px;
    
//////////////////////////////////////////////////////////

.i-elem {
    background-image: url('../img/element.png');
    background-repeat: no-repeat;
    display inline-block
    vertical-align middle
}


$a_down {
    width: 16px;
    height: 10px;
    background-position: -10px -10px;
}

$a_down_a {
    width: 16px;
    height: 10px;
    background-position: -46px -10px;
}




$a_left {
    width: 19px;
    height: 13px;
    background-position: -82px -10px;
}

$a_left_a {
    width: 19px;
    height: 13px;
    background-position: -121px -10px;
}

$a_m_down_a {
    width: 16px;
    height: 10px;
    background-position: -160px -10px;
}

$a_m_up {
    width: 16px;
    height: 10px;
    background-position: -196px -10px;
}

$a_m_up_a {
    width: 16px;
    height: 10px;
    background-position: -232px -10px;
}

$a_up {
    width: 16px;
    height: 8px;
    background-position: -268px -10px;
}

$a_up_a {
    width: 16px;
    height: 10px;
    background-position: -80px -41px;
}

$cite {
    width: 49px;
    height: 47px;
    background-position: -10px -40px;
}

$date {
    width: 16px;
    height: 16px;
    background-position: -268px -38px;
}

$download {
    width: 17px;
    height: 22px;
    background-position: -79px -74px;
}

$home {
    width: 32px;
    height: 32px;
    background-position: -116px -74px;
}

$home_a {
    width: 32px;
    height: 32px;
    background-position: -168px -74px;
}

$info {
    width: 26px;
    height: 34px;
    background-position: -220px -74px;
}

$info_a {
    width: 26px;
    height: 34px;
    background-position: -10px -128px;
}

$key {
    width: 53px;
    height: 28px;
    background-position: -56px -128px;
}

$li {
    width: 12px;
    height: 9px;
    background-position: -266px -74px;
}

$menu_line_down {
    width: 46px;
    height: 6px;
    background-position: -129px -128px;
}

$menu_line_down_a {
    width: 46px;
    height: 6px;
    background-position: -195px -128px;
}

$menu_line_up {
    width: 46px;
    height: 6px;
    background-position: -129px -154px;
}

$menu_line_up_a {
    width: 46px;
    height: 6px;
    background-position: -195px -154px;
}

$menu_line_up_p {
    width: 46px;
    height: 6px;
    background-position: -56px -180px;
}

$news {
    width: 16px;
    height: 14px;
    background-position: -266px -103px;
}

$pdf {
    width: 30px;
    height: 30px;
    background-position: -261px -137px;
}

$pp {
    width: 32px;
    height: 33px;
    background-position: -122px -180px;
}

$price {
    width: 30px;
    height: 30px;
    background-position: -174px -187px;
}

$promo {
    width: 42px;
    height: 48px;
    background-position: -224px -187px;
}

$sl_left {
    width: 35px;
    height: 35px;
    background-position: -10px -255px;
}

$sl_left_a {
    width: 35px;
    height: 35px;
    background-position: -65px -255px;
}

$sl_right {
    width: 35px;
    height: 35px;
    background-position: -120px -255px;
}

$sl_right_a {
    width: 35px;
    height: 35px;
    background-position: -175px -255px;
}

$up {
    width: 35px;
    height: 35px;
    background-position: -230px -255px;
}

$up_a {
    width: 35px;
    height: 35px;
    background-position: -304px -10px;
}

$video {
    width: 32px;
    height: 32px;
    background-position: -304px -65px;
}

$video_a {
    width: 32px;
    height: 32px;
    background-position: -304px -115px;
}

$video_item {
    width: 84px;
    height: 84px;
    background-position: -359px -10px;
}

$word {
    width: 30px;
    height: 32px;
    background-position: -356px -114px;
}

$zapros {
    width: 32px;
    height: 32px;
    background-position: -406px -114px;
}
