
$c-text = #567d80
$c-text-d= #31565b
$c-main= #6fdbeb
$c-sec= #526970
$c-hover= #02b6d5
$c-hover-m= #006fa8

$c-link= $c-hover
$c-header = $c-hover
$c-form-el = #d3ebef
$c-light-bdr = #d3ebef

$c-placeholder= #3ca1be

$f-base= verdana, helvetica, arial, sans-serif;
$f-size= 14px;
$f-line= 1.2;
$f-header= bebas_neue, impact, sans-serif;
$pad= 20px;


$btn-ok= #ffe25b;


